## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN','NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df['APPLICATION_TYPE'].value_counts()
application_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [34]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type[application_type < 100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [35]:
# Look at CLASSIFICATION value counts for binning
classification_value = application_df['CLASSIFICATION'].value_counts()
classification_value

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [36]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value1 = application_df['CLASSIFICATION'].value_counts().loc[application_df['CLASSIFICATION'].value_counts() > 1]
classification_value1

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [37]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value1[classification_value1 < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [38]:
# Convert categorical data to numeric with `pd.get_dummies`
numerical_data = pd.get_dummies(application_df)
numerical_data

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [39]:
# Split our preprocessed data into our features and target arrays
X = numerical_data.drop('IS_SUCCESSFUL', axis=1).values
y = numerical_data['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [40]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 =  5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 536

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 587
Trainable params: 587
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Train the model
model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.6202 - accuracy: 0.6854
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5721 - accuracy: 0.7232
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5628 - accuracy: 0.7274
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5588 - accuracy: 0.7293
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5567 - accuracy: 0.7297
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5551 - accuracy: 0.7301
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5545 - accuracy: 0.7306
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7308
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7316
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5530 - accuracy: 0.7309
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7315
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7323
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7318
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7317
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7319
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5513 - accuracy: 0.7331
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7326
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7324
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7325
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7319
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7326
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7330
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7327
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7331
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7334
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7327
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5501 - accuracy: 0.7330
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7337
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7325
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7331
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7330
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7336
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7345
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7327
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7334
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7338
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7342
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7334
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7339
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7334
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7342
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7339
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7329
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7338
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7337
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7338
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5488 - accuracy: 0.7331
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5490 - accuracy: 0.7332
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5490 - accuracy: 0.7336
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5489 - accuracy: 0.7339
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7336
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7350
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5487 - accuracy: 0.7343
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5485 - accuracy: 0.7341
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7345
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7346
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5481 - accuracy: 0.7341
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5484 - accuracy: 0.7337
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7341
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7345
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7341
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7344
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5480 - accuracy: 0.7343
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5480 - accuracy: 0.7348
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7343
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7342
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7340
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7339
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5480 - accuracy: 0.7338
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5478 - accuracy: 0.7339
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5478 - accuracy: 0.7343
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5480 - accuracy: 0.7352
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5479 - accuracy: 0.7348
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5477 - accuracy: 0.7349
Epoch 75/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5480 - accuracy: 0.7340
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5476 - accuracy: 0.7347
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5474 - accuracy: 0.7343
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5476 - accuracy: 0.7350
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5474 - accuracy: 0.7350
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7353
Epoch 81/100

804/804 [==============================] - 3s 3ms/step - loss: 0.5475 - accuracy: 0.7353
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7347
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5474 - accuracy: 0.7346
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7355
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7350
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7350
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7345
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7358
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7350
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7345
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5475 - accuracy: 0.7353
Epoch 92/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5471 - accuracy: 0.7348
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5468 - accuracy: 0.7352
Epoch 94/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5473 - accuracy: 0.7351
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5472 - accuracy: 0.7353
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7343
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7346
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7358
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7357
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5469 - accuracy: 0.7356

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [45]:
# Export our model to HDF5 file
nn.save('Models/AlphabetSoupCharity.h5')

In [214]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  20
hidden_nodes_layer2 =  10
hidden_nodes_layer3 =  5

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn2.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu")
)

# Third hidden layer

nn2.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer3, input_dim=number_input_features, activation="relu")
)

# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_56"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_217 (Dense)           (None, 20)                1340

 dense_218 (Dense)           (None, 10)                210

 dense_219 (Dense)           (None, 5)                 55

 dense_220 (Dense)           (None, 1)                 6

=================================================================
Total params: 1,611
Trainable params: 1,611
Non-trainable params: 0
_________________________________________________________________

In [215]:
# Compile the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [216]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7445 - accuracy: 0.4087 - 690ms/epoch - 3ms/step
Loss: 0.7445312738418579, Accuracy: 0.4087463617324829

In [148]:
nn2.save('Models/AlphabetSoupCharity2.h5')

In [217]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  14
hidden_nodes_layer2 =  9
hidden_nodes_layer3 =  4

nn3 = tf.keras.models.Sequential()

# First hidden layer
nn3.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn3.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu")
)

# Third hidden layer

nn3.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer3, input_dim=number_input_features, activation="relu")
)

# Output layer
nn3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn3.summary()

Model: "sequential_57"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_221 (Dense)           (None, 14)                938

 dense_222 (Dense)           (None, 9)                 135

 dense_223 (Dense)           (None, 4)                 40

 dense_224 (Dense)           (None, 1)                 5

=================================================================
Total params: 1,118
Trainable params: 1,118
Non-trainable params: 0
_________________________________________________________________

In [218]:
# Compile the model
nn3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [219]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7137 - accuracy: 0.5359 - 1s/epoch - 6ms/step
Loss: 0.7137177586555481, Accuracy: 0.5358600616455078

In [220]:
nn3.save('Models/AlphabetSoupCharity3.h5')

In [221]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  85
hidden_nodes_layer2 =  65
hidden_nodes_layer3 =  32

nn4 = tf.keras.models.Sequential()

# First hidden layer
nn4.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn4.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="tanh")
)

# Third hidden layer

nn4.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer3, input_dim=number_input_features, activation="tanh")
)

# Output layer
nn4.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn4.summary()

Model: "sequential_58"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_225 (Dense)           (None, 85)                5695

 dense_226 (Dense)           (None, 65)                5590

 dense_227 (Dense)           (None, 32)                2112

 dense_228 (Dense)           (None, 1)                 33

=================================================================
Total params: 13,430
Trainable params: 13,430
Non-trainable params: 0
_________________________________________________________________

In [222]:
# Compile the model
nn4.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [223]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7137 - accuracy: 0.5359 - 1s/epoch - 5ms/step
Loss: 0.7137177586555481, Accuracy: 0.5358600616455078

In [224]:
nn4.save('Models/AlphabetSoupCharity4.h5')